.container {
    // background-color: antiquewhite;
    padding: 1rem 1rem;
    .formCover{
        // background-color: aqua;
        display: flex;
        .cover {
            flex-basis: 30%;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            // padding: 0.2rem;   
            label{
                display: flex;
                justify-content: center;
                align-items: center;
                // font-size: 100%;
                cursor: pointer;
                width: 192px;
                height:108px;
                border: solid 1px black;
                border-radius: 5px;
                object-fit: cover;
                // width: 100%;
            }
        }
        .name {
            padding: 0 0.2rem; 
            flex-basis: 70%;
            text-align: left;

        }
    }
    .description {
        text-align: left;
        margin-top: 1rem;
    }
    .price {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 1rem;
    }
}